---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '@/components/resume/Item/Item.astro'
import Divider from '../Divider.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('resumeProjects')
---

<SectionBlock title="Projects">
  {
    projects.map((project, index) => {
      return (
        <>
          <Item
            title={project.data.title}
            timeDescription={project.data.time}
            description={project.data.description}
            url={project.data.url}
          />

          {project.data.details.length === 1 ? (
            <p class="mb-4 mt-0 text-sm">{project.data.details[0]}</p>
          ) : (
            <UnorderedList ulClass="text-sm" items={project.data.details} />
          )}

          {index < projects.length - 1 && <Divider />}
        </>
      )
    })
  }
</SectionBlock>