---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '../Item.astro'
import Divider from '../Divider.astro'

import { RESUME } from '@/content/resume.ts'
---

<SectionBlock title="Projects">
  {
    RESUME.projects.map((project, index) => {
      return (
        <>
          <Item
            title={project.title}
            timeDescription={project.time}
            description={project.description}
            url={project.url}
          />

          {project.details.length === 1 ? (
            <p class="mb-4 mt-0 text-sm">{project.details[0]}</p>
          ) : (
            <UnorderedList ulClass="text-sm" items={project.details} />
          )}

          {index < RESUME.projects.length - 1 && <Divider />}
        </>
      )
    })
  }
</SectionBlock>
