---
import '@/styles/global.css'
import '@/styles/fonts.css'
import '@/styles/global_print.css'

// section
import Experiences from '@/components/resume/sections/Experiences.astro'
import Projects from '@/components/resume/sections/Projects.astro'
import Activity from '@/components/resume/sections/Activity.astro'
import Skills from '@/components/resume/sections/Skills.astro'
import Education from '@/components/resume/sections/Education.astro'

import PrintSectionBlock from '@/components/resume/PrintSectionBlock.astro'
import PrintItem from '@/components/resume/PrintItem.astro'
import UnorderedList from '@/components/resume/UnorderedList.astro'

import { RESUME } from '@/content/resume.ts'
---

<div>
  <div
    class="mx-auto grid max-w-[1200px] grid-cols-1 gap-2 p-2 md:grid-cols-2 print:grid-cols-5"
  >
    <!-- header: name and summary -->
    <div class="md:col-span-2 print:col-span-5" name="header-summary">
      <div class="relative border p-2">
        <!-- name and job title -->
        <div class="md:flex">
          <div>
            <h1 class="text-4xl font-bold">{RESUME.header.name}</h1>
            <p class=`text-xl`>{RESUME.header.jobTitle}</p>
          </div>
        </div>
        <!-- introduction and contact info -->
        <div class="mt-2 grid grid-cols-3">
          <div name="summary" class="block col-span-2 text-sm">
            <p>
              {RESUME.header.introduction}
            </p>
          </div>
          <div
            class="block col-span-1 text-sm text-right"
            name="contact-info"
          >
            <p>
              <b>Github</b>:
              <a
                href={RESUME.header.github}
                target="_blank"
                rel="noreferrer"
                class="font-medium underline"
              >
                {RESUME.header.githubName}
              </a>
            </p>
            <p><b>Email</b>: {RESUME.header.email}</p>
            <p><b>Location</b>: {RESUME.header.location}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- detail -->
    <div
      class="block space-y-2 print:col-span-2 print:block print:space-y-1"
      name="detail-small"
    >
      <Skills />
      <Education />
      <Activity />
    </div>

    <div
      class="block space-y-2 print:col-span-3 print:block print:space-y-1"
      name="detail-large"
    >
      {
        RESUME.experiences.map((experience) => (
          <PrintSectionBlock title="Experiences">
            <PrintItem
              title={RESUME.experiences[0].jobTitle}
              timeDescription={RESUME.experiences[0].time}
              description={RESUME.experiences[0].company}
              url={RESUME.experiences[0].url}
            />

            <UnorderedList ulClass="text-sm" items={experience.details} />
          </PrintSectionBlock>
        ))
      }
      <Projects />
    </div>
  </div>
</div>
