---
// import BaseLayoutPrint from '@/layouts/BaseLayoutPrint.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
// section
import Experiences from '@/components/resume/sections/web/Experiences.astro'
import Projects from '@/components/resume/sections/web/Projects.astro'
import Activity from '@/components/resume/sections/web/Activity.astro'
import Skills from '@/components/resume/sections/web/Skills.astro'
import Education from '@/components/resume/sections/web/Education.astro'
import Interests from '@/components/resume/sections/web/Interests.astro'
import Now from '@/components/resume/sections/web/Now.astro'

import { getCollection } from 'astro:content'

const headerEntries = await getCollection('resumeHeader')
const header = headerEntries[0].data

const textGrayClasses = 'text-gray-500 dark:text-gray-500'

const ogImageSlug = 'resume'
const ogImageUrl = new URL(`og/pages/${ogImageSlug}.png`, Astro.site)
---

<BaseLayout title="ALTR's Resume" description="" ogImage={ogImageUrl}>
  <div class="">
    <!-- resume layout -->
    <div
      class="mx-auto grid max-w-[1200px] grid-cols-1 gap-2 p-2 md:grid-cols-2"
    >
      <!-- header: name and summary -->
      <div class="md:col-span-2" name="header-summary">
        <div class="relative border p-4">
          <div class="md:flex">
            <div>
              <h1 class="text-4xl font-bold">{header.name}</h1>
              <p class=`${textGrayClasses} text-xl`>{header.jobTitle}</p>
            </div>
          </div>
          <div class="mt-4 md:flex">
            <div name="summary">
              <p>
                {header.introduction}
              </p>
            </div>
            <div
              class="mt-4 w-full max-w-[400px] md:mt-0 md:pl-8 md:text-right"
              name="contact-info"
            >
              <p>
                <span class="font-medium">Github</span>:
                <a
                  href={header.github}
                  target="_blank"
                  rel="noreferrer"
                  class="underline"
                >
                  {header.githubName}
                </a>
              </p>
              <p>
                <span class="font-medium">Email</span>: {header.email}
              </p>
              <p>
                <span class="font-medium">Location</span>: {header.location}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- detail -->
      <div class="block space-y-2" name="detail-left">
        <Experiences />
        <Projects />
        <Activity />
      </div>
      <div class="block space-y-2" name="detail-right">
        <Skills />
        <Education />
        <Interests />
        <Now />
        <div class="block border p-4">
          <a href="/resume-print" class="font-medium underline">
            Resume - Print version
          </a>
          <br />
          <a href="/cv-print" class="font-medium underline">
            CV - Print version
          </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
