---
import '@/styles/global.css'
import '@/styles/fonts.css'
import '@/styles/global_print.css'

// section
import Experiences from '@/components/resume/sections/Experiences.astro'
import Projects from '@/components/resume/sections/Projects.astro'
import Activity from '@/components/resume/sections/Activity.astro'
import Skills from '@/components/resume/sections/Skills.astro'
import Education from '@/components/resume/sections/Education.astro'

import PrintSectionBlock from '@/components/resume/PrintSectionBlock.astro'
import PrintItem from '@/components/resume/PrintItem.astro'
import PrintUnorderedList from '@/components/resume/PrintUnorderedList.astro'

import UnorderedList from '@/components/resume/UnorderedList.astro'

import { RESUME } from '@/content/resume.ts'
---

<div>
  <div
    class="mx-auto grid max-w-[1200px] grid-cols-1 gap-2 p-2 md:grid-cols-2 print:grid-cols-7"
  >
    <!-- header: name and summary -->
    <div class="md:col-span-2 print:col-span-7" name="header-summary">
      <div class="relative border p-2">
        <!-- name and job title -->
        <div class="md:flex">
          <div>
            <h1 class="font-serif text-3xl font-bold">{RESUME.header.name}</h1>
            <p class=`text-md`>{RESUME.header.jobTitle}</p>
          </div>
        </div>
        <!-- introduction and contact info -->
        <div class="mt-2 grid grid-cols-3">
          <div name="summary" class="col-span-2 block text-sm">
            <p>
              {RESUME.header.introduction}
            </p>
          </div>
          <div class="col-span-1 block text-right text-sm" name="contact-info">
            <p>
              <b>Github</b>:
              <a
                href={RESUME.header.github}
                target="_blank"
                rel="noreferrer"
                class="font-medium underline"
              >
                {RESUME.header.githubName}
              </a>
            </p>
            <p><b>Email</b>: {RESUME.header.email}</p>
            <p><b>Location</b>: {RESUME.header.location}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- detail -->
    <div
      class="block space-y-2 print:col-span-2 print:block print:space-y-1"
      name="detail-small"
    >
      <PrintSectionBlock title="Skills">
        <div class="mb-1 text-sm">
          <text class="mr-1 font-bold">Languages:</text><text
            >{RESUME.skills.languages.join(', ')}</text
          >
        </div>
        <div class="mb-1 text-sm">
          <text class="mr-1 font-bold">Frameworks:</text><text
            >{RESUME.skills.frameworks.join(', ')}</text
          >
        </div>
        <div class="mb-1 text-sm">
          <text class="mr-1 font-bold">Tools:</text><text
            >{RESUME.skills.tools.join(', ')}</text
          >
        </div>
      </PrintSectionBlock>
    </div>

    <div
      class="block space-y-2 print:col-span-5 print:block print:space-y-1"
      name="detail-large"
    >
      <PrintSectionBlock title="Experiences">
        {
          RESUME.experiences.map((experience) => (
            <>
              <PrintItem
                title={RESUME.experiences[0].jobTitle}
                timeDescription={RESUME.experiences[0].time}
                description={RESUME.experiences[0].company}
                url={RESUME.experiences[0].url}
              />
              <PrintUnorderedList items={experience.details} />
            </>
          ))
        }
      </PrintSectionBlock>

      <PrintSectionBlock title="Projects">
        {
          RESUME.projects.map((project) => (
            <>
              <PrintItem
                title={project.title}
                timeDescription={project.time}
                description={project.description}
                url={project.url}
              />
              <PrintUnorderedList items={project.details} />
            </>
          ))
        }
      </PrintSectionBlock>
    </div>
  </div>
</div>
