---
import { Moon, Sun, Leaf, Flame } from 'lucide-react'
import { Button } from '@/components/ui/button'

const defaultTheme = '-30k'
const themes = [defaultTheme, 'nexus', 'dark']
const themeButtonCss = `h-5 w-5 hidden`
---

<Button variant="ghost" size="icon" id="themeToggle">
  <Sun className={themeButtonCss} id=`${defaultTheme}Button` />
  <Flame className={themeButtonCss} id="nexusButton" />
  <Moon className={themeButtonCss} id="darkButton" />
  <span class="sr-only">Toggle theme</span>
</Button>

<script is:inline define:vars={{ themes }}>
  const theme = (() => {
    // check if localStorage is available and if a theme is set
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    // return default theme, if no theme is set
    return defaultTheme
  })()

  // initialise theme
  document.documentElement.classList.add(theme)
  document.getElementById(`${theme}Button`).classList.remove('hidden')
  document.getElementById(`${theme}Button`).classList.add('block')

  window.localStorage.setItem('theme', theme)
  window.localStorage.setItem('themeIndex', themes.indexOf(theme))

  const handleToggleClick = () => {
    currentIndex = themes.indexOf(localStorage.getItem('theme'))
    // from current theme, get the next theme
    nextIndex = (currentIndex + 1) % themes.length
    nextTheme = themes[nextIndex]

    const element = document.documentElement

    // set theme
    localStorage.setItem('theme', nextTheme)
    localStorage.setItem('themeIndex', nextIndex)
    element.classList.replace(themes[currentIndex], nextTheme)

    // hide all buttons
    buttonClasses = themes.map((themeName) => `${themeName}Button`)
    for (themeName of themes) {
      const button = document.getElementById(`${themeName}Button`)
      button.classList.add('hidden')
    }

    // show theme button
    const button = document.getElementById(`${nextTheme}Button`)
    button.classList.remove('hidden')
    button.classList.add('block')
  }

  document
    .getElementById('themeToggle')
    .addEventListener('click', handleToggleClick)
</script>
