---
import { Moon, Sun, Leaf } from 'lucide-react'
import { Button } from '@/components/ui/button'
const themes = ['light', 'eramorp', 'dark']

const generateButtonCSS = (themeName) => {
  let css = `h-5 w-5 hidden`
  return css
}
---

<Button variant="ghost" size="icon" id="themeToggle">
  <Sun className={generateButtonCSS('light')} id="lightButton" />
  <Leaf className={generateButtonCSS('eramorp')} id="eramorpButton" />
  <Moon className={generateButtonCSS('dark')} id="darkButton" />
  <span class="sr-only">Toggle theme</span>
</Button>

<script is:inline define:vars={{ themes }}>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return 'light'
  })()

  document.documentElement.classList.add(theme)
  document.getElementById(`${theme}Button`).classList.remove('hidden')
  document.getElementById(`${theme}Button`).classList.add('block')

  window.localStorage.setItem('theme', theme)
  window.localStorage.setItem('themeIndex', themes.indexOf(theme))

  const handleToggleClick = () => {
    currentIndex = themes.indexOf(localStorage.getItem('theme'))
    // console.log('current', currentIndex, themes[currentIndex])
    nextIndex = (currentIndex + 1) % themes.length
    nextTheme = themes[nextIndex]
    // console.log('switch to', nextIndex, nextTheme)

    const element = document.documentElement
    // console.log('current', element.classList)

    // element.classList.toggle('dark')
    // const isDark = element.classList.contains('dark')
    // localStorage.setItem('theme', isDark ? 'dark' : 'light')

    localStorage.setItem('theme', nextTheme)
    localStorage.setItem('themeIndex', nextIndex)
    element.classList.replace(themes[currentIndex], nextTheme)

    buttonClasses = themes.map((themeName) => {
      ;`${themeName}Button`
    })
    for (themeName of themes) {
      const button = document.getElementById(`${themeName}Button`)
      button.classList.add('hidden')
    }
    const button = document.getElementById(`${nextTheme}Button`)
    button.classList.remove('hidden')
    button.classList.add('block')

    // set content in the button
    // const button = document.getElementById('themeToggle')
    // button.textContent = `theme: ${localStorage.getItem('theme')}`
  }

  document
    .getElementById('themeToggle')
    .addEventListener('click', handleToggleClick)
</script>
