---
import { RESUME } from '@/content/resume.ts'
---

<div class="border-b-1 relative border-gray-200 p-2">
  <!-- name and job title -->
  <div class="md:flex">
    <div>
      <h1 class="font-resumeserif font-serif text-4xl font-bold">
        {RESUME.header.name}
      </h1>
      <p class=`text-lg font-resumesans font-bold text-gray-500`>
        {RESUME.header.jobTitle}
      </p>
    </div>
  </div>
  <!-- introduction and contact info -->
  <div class="mt-2 grid grid-cols-3">
    <div name="summary" class="col-span-2 block text-sm">
      <p>
        {RESUME.header.introduction}
      </p>
    </div>
    <div class="col-span-1 block text-right text-sm" name="contact-info">
      <p>
        <text class="font-resumesans font-medium">Github</text>:
        <a
          href={RESUME.header.github}
          target="_blank"
          rel="noreferrer"
          class="underline"
        >
          {RESUME.header.githubName}
        </a>
      </p>
      <p>
        <text class="font-resumesans font-medium">Email</text>: {
          RESUME.header.email
        }
      </p>
      <p>
        <text class="font-resumesans font-medium">Location</text>: {
          RESUME.header.location
        }
      </p>
    </div>
  </div>
</div>
