---
import { getCollection } from 'astro:content'

const headerEntries = await getCollection('resumeHeader')
const header = headerEntries[0].data
---

<div class="border-b-1 relative border-gray-100 p-2">
  <!-- name and job title -->
  <div class="md:flex">
    <div>
      <h1 class="font-resumeserif font-serif text-4xl font-bold">
        {header.name}
      </h1>
      <p class=`text-lg font-resumesans font-bold text-gray-500`>
        {header.jobTitle}
      </p>
    </div>
  </div>
  <!-- introduction and contact info -->
  <div class="mt-2 grid grid-cols-3">
    <div class="col-span-2 block text-sm">
      <p>
        {header.introduction}
      </p>
    </div>
    <div class="col-span-1 block text-right text-sm">
      <p>
        <span class="font-resumesans font-medium">Github</span>:
        <a
          href={header.github}
          target="_blank"
          rel="noreferrer"
          class="underline"
        >
          {header.githubName}
        </a>
      </p>
      <p>
        <span class="font-resumesans font-medium">Email</span>: {header.email}
      </p>
      <p>
        <span class="font-resumesans font-medium">Location</span>: {
          header.location
        }
      </p>
    </div>
  </div>
</div>